*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html{
  font-size: 18px;
  line-height: 1.7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eeeeee;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 99%;  
}

#noteAdding{
  padding: 10px;
}

.hide{
  display: none;
}

#header{
  /* position: fixed; */
  left: 0px;
  top: 0px;
  height: 100px;
  width: 100%;
  background-color: #222;
}
h1{
  text-align: center;
  color: azure;
}
.noteList{
  list-style: none;
  width: 600px;
  margin: auto;
  padding-bottom: 1rem;
}
.noteItem{
  width: 100%;
  border: 1px solid #aaa;
  display: grid;
  grid-template-areas: "a b c";
  grid-template-columns: 1.9fr 0.6fr 0.5fr;
}
.remove{
  grid-area: c;
  /* float: left;
  overflow: hidden;
  width: 80px; */
  margin: 0.5rem;
}
.noteTitle{
  color: #333;
  grid-area: a;
  margin: 0.5rem;
}
.noteCreatedDate{
  color: #333;
  grid-area: b;
  margin: 0.5rem 0 ;

}
.highlight{
  background-color: lightpink;
}
.material-icons{
  font-size: 2rem;
}
.material-icons:active{
  color: orange;
}
