*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html{
  font-size: 18px;
  line-height: 1.7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eeeeee;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 99%;  
}

#noteAdding{
  padding: 20px;
}

.hide{
  display: none;
}

#header{
  position: fixed;
  z-index:2;
  left: 0px;
  top: 0px;
  height: 60px;
  width: 100%;
  padding: 0;
  background-color: hsl(0, 100%, 80%);
}
body {
  z-index:1;
  width:100%;
  background:#aaa;
}

.page {
  position:absolute;
  top:60px;
  z-index:1;
  width:100%;
  padding:0;
  -webkit-overflow-scrolling:touch;
  overflow:auto;
}

h2{
  text-align: center;
  margin: 8px auto;
}
.noteList{
  list-style: none;
  width: 600px;
  margin: auto;
  padding-bottom: 1rem;
}
.noteItem{
  width: 100%;
  border: 1px solid #aaa;
  display: grid;
  grid-template-areas: "a b c";
  grid-template-columns: 2.1fr 0.6fr 0.3fr;
}
.remove{
  grid-area: c;
  margin: auto 0.5rem;
}
.noteTitle{
  color: #333;
  grid-area: a;
  margin: 0.5rem;
}
.noteCreatedDate{
  color: #333;
  grid-area: b;
  margin: auto 0 ;

}
.highlight{
  background-color:hsl(0, 100%, 90%);
}
input {
  font-size: 1rem;
  width: 100%;
  padding: 0rem 0.5rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}
button {
  font-size: 1rem;
  padding: 0.5rem;
  /* color: azure; */
  background-color: hsl(0, 100%, 80%);
  margin: 0.5rem;
  text-align: center;
  border: 1px solid hsl(0, 100%, 90%);
  border-radius:20px;
}

#back-btn{
	position:absolute;
	top:-5px;
  left:15px;
  color: hsl(0, 100%, 60%);
	/* border-radius:50px; */
  font-size: 40px;
  /* font-weight: 700; */
  text-decoration: none;
}
#add-btn{
    position: absolute;;
    top:-5px;
    right:15px;
    color: hsl(0, 100%, 60%);
    /* border-radius:50px; */
      font-size: 40px;
      /* font-weight: 700; */
      text-decoration: none;
  }
a:active{
    color: yellow;
  }
#formButtons,
#formDate{
  text-align: center;
}


